beautifulsoup4==4.9.1
binarytree==5.1.0
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
kiwisolver==1.2.0
lxml==4.5.2
matplotlib==3.3.0
networkx==2.5
noise==1.2.2
numpy==1.19.1
openpyxl==3.0.4
opensimplex==0.3
pandas==1.1.2
Pillow==7.2.0
point==0.0.1
psycopg2-binary==2.8.6
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
six==1.11.0
soupsieve==2.0.1
stroke==2.3.2
transliterate==1.10.2
Unidecode==1.1.1
urllib3==1.25.10
xlrd==1.2.0
